.Weather-Wrapper {
  border: 2px solid #eeeeee;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.Weather-Search {
  background-color: #77628c;
  border-color: #77628c;
}

.Weather-Search:hover {
  background-color: #9980b0;
  border-color: #9980b0;
}

.Weather-Signature {
  font-size: 14px;
  color: #77628c;
}
